/* Write your CSS code here */
.homecontainer {
  height: 89vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeimg {
  height: 450px;
  width: 400px;
}
.homebtn {
  background-color: blue;
  color: #ffffff;
  height: 43px;
  width: 170px;
}
.homehead {
  font-size: 60px;
  color: #000000;
  font-weight: bold;
}
.homepara {
  font-size: 30px;
  color: #475569;
}
